# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore macOS system files
.DS_Store

# Ignore logs
logs/
*.log

# Ignore virtual environments
venv/
.env

# Ignore AI model weights (server)
server/ai_model/models/

# Ignore editor settings
.vscode/
.idea/

# Ignore compiled distributions
build/
dist/
