# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore macOS system files
.DS_Store

# Ignore log files
logs/
*.log

# Ignore virtual environments
venv/
.env

# Ignore environment variables
clients/windows/.env

# Ignore model weights
server/ai_model/models/

# Ignore build files
build/
dist/

# Ignore editor configurations
.vscode/
.idea/
